<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
            rel="stylesheet">
        <title>Pluto Backend Assignment</title>
    </head>

    <body>
        <header>
            <h1>Short URL Generator</h1>
        </header>
        <main>
            <div class="input-title">Destination URL</div>
            <input
                class="url-input"
                id="url-input"
                placeholder="https://www.scinapse.io/"
                value="https://www.naver.com"/>
            <button class="url-button" id="url-btn">Create Short URL</button>
        </main>

        <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $('#url-btn').click(function () {
                $.ajax({
                    type: "POST",
                    url: "https://www.june.pe.kr/",
                    contentType: "application/json",
                    data: JSON.stringify({destinationUrl: $('#url-input').val(), password: '123'}),
                    dataType: 'text',
                    success: function (result) {
                        var data = JSON.parse(result);
                         location.href = "detail.html?url=" + data.data.url
                    },
                    error: function () {
                        //에러가 났을 경우 실행시킬 코드
                    }
                })
            });
        </script>

    </body>

</html>